# Python
*.egg-info/
*.pyc
MANIFEST
build/
dist/
src/

# Doc generation
doc/
html/
htmlcov/

# Test tools
*,cover
*.cover
.cache/
.coverage
.figleaf
.tox/

# Emacs
*~
.\#*
TAGS
\#*\#

# Environments
.direnv/
venv/
.pdm-python

# System specific cruft
*.core
.DS_Store

# Akasha
debug_*.py
