PIL==1.1.7
PyOpenGL==3.0.2b2
Pygments==1.4
Twisted==12.2.0
cov-core==1.7
coverage==3.5.3
distribute==0.6.24
gevent==0.13.8
glumpy==0.2.1
greenlet==0.4.0
ipython==0.13
-e git://github.com/lmjohns3/py-sound.git@2b5502eb2ec6003d833bb4b8ac54edd80cae73a2#egg=lmj.sound-dev
matplotlib==1.1.1
mercurial==2.3.1
nose==1.2.0
numpy==1.6.2
py==1.4.11
pygame==1.9.2pre
pytest==2.3.2
pytest-cov==1.6
python-dateutil==2.1
readline==6.2.2
scikits.audiolab==0.11.0
scikits.samplerate==0.3.3
-e git+https://github.com/scipy/scipy@14b1e07602ff33a6e8250eb2bc7a6816677606a9#egg=scipy-dev
six==1.2.0
txosc==0.2.0
wikitools==1.1.1
wsgiref==0.1.2
zope.interface==4.0.1
